.header{

	margin:0 !important;
	padding:0 1rem !important;

	.header__main{

 
		.header__main__logo {
			width: 60px;
			height: 60px;
		}


			#navbar__list {
				
			}

		

	}	
}

.nav {
	margin:0 auto!important;
}
