.header{

	margin:0 !important;
	padding:0 1rem !important;

	.header__main{

 
		.header__main__logo {
			width: 60px;
			height: 60px;
		}

		.navbar__menu{

		}
			#navbar__list {
				
			}

		

	}	
}

.nav {
	margin: 0 auto;
	-ms-flex-direction: row;
  		flex-direction: row;
}

@media only screen and (max-device-width: 480px) {
	.nav {
		-ms-flex-direction: column;
  		flex-direction: column;

	}
	.dashboard__button {
  		width: 100% !important;
  		margin-top: 1rem;
  		margin-bottom: 1rem;
	}
	.header__main__logo {
		width: 60px;
		height: 60px;
	}
}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .nav {
		-ms-flex-direction: column;
  		flex-direction: column;
	}
	.dashboard__button {
  		width: 100% !important;
  		margin-top: 1rem;
  		margin-bottom: 1rem;
	}
	.header__main__logo {
		width: 60px;
		height: 60px;
	}
}