		<section class="page__section pt-5 section__info" data-nav="Application desctiption" id="desctiption">
			<article class="article container-fluid">
				<h2 class="section__heading text-center">
					Application desctiption
				</h2>
				<p class="article__text text-center">
					Trips Organizer is an app that let you make travel plans by entering travel destination, departure date and return date. The app will save this information for you, add weather forcast about travel days, show you information and picture about trip destination.
				</p>
				<h3 class="article__heading text-center">
					Application functions
				</h3>
				<p class="article__text text-center">
					Trips organizer will make planing trips a breeze for you by providing below features.
				</p>
				<div class="section__cards row justify-content-between mt-5">
					<div class="card cards col-lg-3">
						<img src="./imgs/feature1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Record Trip Data</h5>
							<p class="card-text">We often forget the plans we made months ago about that one awesome life changing getaway, when we finally get free time to execute said plan. With this app you will not have to worry.</p>
							<a href="#" class="btn btn-primary">Sign up</a>
						</div>
					</div>
					<div class="card cards col-lg-3">
						<img src="./imgs/feature2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Weather Forcasts</h5>
							<p class="card-text">Trips Organizer will give you weather forcast so you dont have to worry about the rain ruining your day (or vise versa). You can view the live weather forcasts of your destination on trip page.</p>
							<a href="#" class="btn btn-primary">Sign up</a>
						</div>
					</div>
					<div class="card cards col-lg-3">
						<img src="./imgs/feature3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Destination Information</h5>
							<p class="card-text">Trips Organizer will show you interesting facts and other relevent information regarding your trip destination so you can make sure that your valuable trip will be memorable.</p>
							<a href="#" class="btn btn-primary">Sign up</a>
						</div>
					</div>
					<div class="card cards col-lg-3">
						<img src="./imgs/feature4.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Print trip plans</h5>
							<p class="card-text">With Trips Organizer you dont have to worry about your plans being lost due to bad connectivity. Not only does Trip Organizer work offline, you can also print your plan to keep a backup.</p>
							<a href="#" class="btn btn-primary">Sign up</a>
						</div>
					</div>
				</div>
			</article>		
		</section>