	<title>Trip Organizer</title>
	<meta charset="utf-8" />
	<meta name="description" content="Trip Organizer is an app that let you make travel plans by entering travel destination, departure date and return date. The app will save this trip for you, add weather on travel days, show you information and picture about trip destination. Developed by Farhan Kiyani powered by K-labs Web Development" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<script src="https://kit.fontawesome.com/5501c51d93.js" crossorigin="anonymous"></script>