		<section class="page__section section__trips d-none" data-nav="Ongoing Trips" id="ongoing__trips">
			<div class = "results__title jumbotron">
            	<h2 class="section__heading display-3 text-center">
            		Ongoing Trips
            	</h2>
			</div>
			<div class="">
				<div id = "ongoing__trip__holder" class="row mt-5">

				</div>
			</div>	
		</section>